
.nav {
  @include media-tablet {
    display: block;
    position: absolute;
    z-index: 0;
    top: -420px;
    left: 0;
    width: 100%;
    height: 420px;
    max-height: 420px;
    padding-top: 25px;
    transition: transform 0.5s;
    background-color: $color-background;
    .nav-list {
      display: none;
    }
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  @include media-tablet {
    font-size: 3.2rem;
  }

}

.nav-link {
  padding: 0 20px;
  line-height: 1.5;
  font-weight: 700;
  font-variant-caps: small-caps;
  text-decoration: none;
  color: $color-light;
  @extend %transition;
}

.nav-link:hover {
  color: $color-hover-dark;
}

.nav__opened {
  @include media-tablet {
    transform: translateY(420px);
    .nav-list {
      display: block;
    }
    .nav-link:hover {
      font-weight: 700;
      color: $color-hover-dark;
      transition: color 0.5s;
    }
  }
}
