.skills{
  &_react {
    background-image: url("../assets/img/icons/react.svg");
  }
  &_redux {
    background-image: url("../assets/img/icons/redux.svg");
  }
  &_nextjs {
    background-image: url("../assets/img/icons/nextjs.svg");
  }
}

.skills_js {
  background-image: url("../assets/img/icons/js.svg");
}

.skills_ts {
  background-image: url("../assets/img/icons/ts.svg");
}

.skills_html {
  background-image: url("../assets/img/icons/html.svg");
}

.skills_css {
  background-image: url("../assets/img/icons/css.svg");
}

.skills_commerce {
  background-image: url("../assets/img/icons/commerce.png");
}

.skills_git {
  background-image: url("../assets/img/icons/git.svg");
}

.skills_figma {
  background-image: url("../assets/img/icons/figma.svg");
}

.skills_webpack {
  background-image: url("../assets/img/icons/webpack.svg");
}

.skills_codewars {
  background-image: url("../assets/img/icons/codewars.svg");
}

.skills_eslint {
  background-image: url("../assets/img/icons/eslint.svg");
}

.skills_prettier {
  background-image: url("../assets/img/icons/prettier.svg");
}

.skills_vite{
  background-image: url("../assets/img/icons/vite.svg");
}

.skills_jest {
  background-image: url("../assets/img/icons/jest.svg");
}

.skills_husky {
  background-image: url("../assets/img/icons/husky.svg");
}