
.skills_html {
  background-image: url("../assets/img/icons/html.svg");
}

.skills_css {
  background-image: url("../assets/img/icons/css.svg");
}

.skills_js {
  background-image: url("../assets/img/icons/javascript.svg");
}

.skills_git {
  background-image: url("../assets/img/icons/git.svg");
}

.skills_figma {
  background-image: url("../assets/img/icons/figma.svg");
}

.skills_webpack {
  background-image: url("../assets/img/icons/webpack.svg");
}

.skills_codewars {
  background-image: url("../assets/img/icons/codewars.svg");
}

.skills_vsc {
  background-image: url("../assets/img/icons/vsc.svg");
}

.skills_python {
  background-image: url("../assets/img/icons/python.svg");
}