.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  color: $color-light;
  background-color: $color-background;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.git-footer {
  line-height: 5.0rem;
  color: $color-light;
}

.footer-link {
  display: block;
  width: 40px;
  height: 40px;
}

.contacts_github_footer {
  width: 40px;
  height: 40px;
  background-image: url("../assets/img/icons/github_with_title.svg");
  @extend %transition;
  &:hover {
    opacity: 1;
  }
}