.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  color: $color-light;
  background-color: $color-background;
}

.git-footer {
  line-height: 5.0rem;
  color: $color-light;
}

.rss-link {
  width: 121px;
  height: 45px;
  background-image: url(../assets/img/rss-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
}